/*
 *  File: style.scss
 */
// Import Bootstrap
// @import "bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
// ...


.container {
    // background-color: gray;
    padding: 30px;
    padding-bottom: 90px;
    // margin: 30px;
}

// выравниваем размер картинок
#viewport {
    // width: 100vw;
    height: 250px;
    overflow: hidden;
}

// не работает, надо разобраться отступ у кнопок
#button {
    margin: auto 12px;
    // padding: 1 2;
}

// !!!!!!!!!!!! надо подчистить
.test2 {
    width: auto;
    background-color: red;
}
#test2 {
    width: auto;
    background-color: blue;
}

#anekdot {
    $color_1: rgb(64, 64, 102);

    details {
        summary {
            list-style-type: "[...]";
            color: $color_1;
            cursor: pointer;
        }
    }
    details[open] {
        summary {
            display: none;
        }
    }
}
