/*
 *  File: test.scss
 */
//index
// вкл flex и формируем размеры 
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .container{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    // flex: 1 0 auto;
    min-height: calc(80vh - 70px);
 }
.footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    // flex: 0 0 auto;
    // flex-shrink: 0;
    height: 50px;
    // bottom: 0;
}


#autorization {
    font-size: 20px;
    text-align: center;
    margin: 0px auto;
    background-color: crimson;
    padding: 20px 30px;
    border-radius: 15px;
}
#hidden {
    //test 
}
/* Вырубает 
.cut-down {*/
.hidden1 {
    display: none;
}
/* Прячет 
.one-ring {*/
.hidden2 {
    visibility: hidden;
}

#btnCheckTest {
    width: 100%;
}

.red {
    color: red;
}

#test {
    $font_family_1: "helvetica neue", helvetica, arial, sans-serif;
    $font_family_2: "Faster One", cursive;

    html {
        font-family: $font_family_1;
    }

    body {
        width: 80%;
        margin: 0 auto;
        padding: 1 1;
    }

    h1,
    h2 {
        font-family: $font_family_2;
        font-size: 2.5rem;
        text-align: center;
    }
    h2 {
        letter-spacing: -5px;
        margin-bottom: 10px;
    }

    header {
        p {
            font-size: 1.3rem;
            font-weight: bold;
            text-align: center;
        }
    }
    .row {
        margin: 20px 0px;
    }

    // section {
    //     article {
    //         // width: 33%;
    //         float: left;
    //     }
    //     p {
    //         margin: 5px 0;
    //     }
    //     ul {
    //         margin-top: 0;
    //     }
    // }
}
