footer.footer.page-footer.font-small.blue(style='width: 100%')
  section.footer-copyright.text-center.py-2
    hr
    p  сейчас делаю: вывод тестов  по одному 
    p сломал парковочный ответ(0), пока вывожу алерт
  hr
  .footer-copyright.text-center.py-3 © 2021 Copyright 
    b Musa