footer.page-footer.font-small.blue(style='width: 100%')
  section.footer-copyright.text-center.py-3
    hr
    p добавляю проверку правильности и вывод результатов теста 
  hr
  .footer-copyright.text-center.py-3 © 2021 Copyright 
    b Musa