footer.page-footer.font-small.blue(style='width: 100%')
  section.footer-copyright.text-center.py-3
    hr
    p добавить оценку теста +-
    p средний результат
    p печать результата или отправить на почту
    p сделать своою выборку тестов
    p форма отзывов: ошибки или предложения
    p
      | id теста, показывает количество вызовов за день(чтобы не откатывали
      | назад - не жульничали)
    p таймер
  hr
  .footer-copyright.text-center.py-3 © 2021 Copyright
