footer.footer.page-footer.font-small.blue(style='width: 100%')
  section.footer-copyright.text-center.py-3
    hr
    p  сейчас делаю: вывод тестов в случайном порядке и по одному 
  hr
  .footer-copyright.text-center.py-3 © 2021 Copyright 
    b Musa