<<<<<<< HEAD
head 
  link(rel="icon" href="./img/favicon.ico")
  title SysAdminTest
=======
>>>>>>> 3347526 (add more all)
header
  // верхнее меню
  nav.navbar.navbar-light(style='background-color: #e3fde9')
    .container-fluid
<<<<<<< HEAD
      a.navbar-brand(href='#')
=======
      a.navbar-brand(href='index.html')
>>>>>>> 3347526 (add more all)
        img.d-inline-block.align-text-top(src='./img/daemon.jpg' alt='' width='35' height='30')
        | SysAdminTest
      form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
