doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" type="text/css" href="css/index.css")
        link(rel="stylesheet" type="text/css" href="css/test.css")

        //- ~~~~~~~ ЧТО ЭТО \/--------------
        //- link(href='https://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet')
        //- link(rel='stylesheet' href='../../assets/css/app.min.css')
        include components/head.pug

#pageWrapper.page-wrapper
    include components/header.pug

    body#test
        .container
            div
                p#autorization
                    | нажмите <b>авторизоваться</b>; &nbsp&nbsp&nbsp  затем напишите ваше имя &nbsp&nbsp&nbsp =)
                //- <p> Рекомендую использовать случайные сочетания клавиш, вы же как истинный шпион должны всегда скрываете себя )</p>
                .row
                    .col
                        .form-check.form-switch
                            //- input#checkOneAll.form-check-input(onclick='oneMoreButton()' type='checkbox')
                            input#checkerOneAll.form-check-input( type='checkbox')
                            label#labelOneAll.form-check-label(for='checkerOneAll')
                                | вопросы <b>все подряд</b> или по одному
                    .col 
                        .form-check.form-switch.red#checkerAutorise
                            input#flexSwitchCheckDefault.form-check-input( type='checkbox')
                            label.form-check-label(for='flexSwitchCheckDefault')
                                | <b> авторизоваться</b> , чтобы пройти тесты
                form(action='')
                    .row
                        .col
                            input#inputUserName.form-control(type='text' placeholder='Штирлиц' disabled='true' label='qwe')
                        .col
                            input#inputUserOrg.form-control(type='text' placeholder='ООО Тайное Общество' disabled='true' required='true')
                        .col
                            //- #userButton - onclick='doStartTest()'
                            button#btnStartTest.btn.btn-warning( type='button' disabled='true')
                                |  &nbsp&nbsp>&nbsp>&nbsp>&nbsp&nbsp&nbspЭто&nbspЯ,&nbspможно&nbspначинать&nbspтест&nbsp&nbsp&nbsp<&nbsp<&nbsp<&nbsp&nbsp
            section#top
                p +
                
            .col
                div
                   button#btnCheckTest.btn.btn-success( type='button' disabled='true')
                    | ТЕСТ

            section#bottom
                p результаты:
                h1.result

        //- #pageWrapper.page-wrapper

        //- тест промисов- удалить
        button#run(onclick='loadJson()' type='button') Новая попытка
        #result 
    
        include components/footer.pug

    script(src='js/main.min.js')

