doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" type="text/css" href="css/index.css")
        link(rel="stylesheet" type="text/css" href="css/test.css")

        //- ~~~~~~~ ЧТО ЭТО \/--------------
        link(href='https://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet')
        //- link(rel='stylesheet' href='../../assets/css/app.min.css')
        include components/head.pug

#pageWrapper.page-wrapper
    include components/header.pug

    body#test
        .container
            div
                p#autorization
                    | Требуется авторизоваться, чтобы пройти тесты;  ваши данные нужны <b>только для
                    | статистики</b> и никуда не будут переданы ;)
                //- <p> Рекомендую использовать случайные сочетания клавиш, вы же как истинный шпион должны всегда скрываете себя )</p>
                .row
                    .col
                        .form-check.form-switch
                            input#flexSwitchCheckDefault1.form-check-input(onclick='disableButton1()' type='checkbox')
                            label.form-check-label(for='flexSwitchCheckDefault1')
                                | тесты <b>все подряд</b> или по одному
                    .col 
                        .form-check.form-switch
                            input#flexSwitchCheckDefault.form-check-input(onclick='disableButton()' type='checkbox')
                            label.form-check-label(for='flexSwitchCheckDefault')
                                | авторизоваться, чтобы пройти тесты
                form(action='')
                    .row
                        .col
                            input#userName.form-control(type='text' placeholder='Штирлиц' disabled='true' label='qwe')
                        .col
                            input#userOrg.form-control(type='text' placeholder='ООО Тайное Общество' disabled='true' required='true')
                        .col
                            button#userButton.btn.btn-warning(onclick='doStartTest()' type='button' disabled='true')
                                |  &nbsp&nbsp>&nbsp>&nbsp>&nbsp&nbsp&nbspЭто&nbspЯ,&nbspможно&nbspначинать&nbspтест&nbsp&nbsp&nbsp<&nbsp<&nbsp<&nbsp&nbsp
            section#top
                p +
                
            .col
                div#userButtonTest.btn.btn-success(onclick='checkTest()' type='button' disabled='true')
                    | ТЕСТ

            section#bottom
                p результаты:

    //- #pageWrapper.page-wrapper
    
    include components/footer.pug

    script(src='js/main.min.js')

